<div class="mb-6 flex justify-end">
  <button
    pButton
    pRipple
    type="button"
    label="Add Contact"
    icon="pi pi-plus"
    class="p-button-success shadow-md rounded-md"
    (click)="navigateToContactForm()"
  ></button>
</div>
<div class="max-w-7xl mx-auto pb-10 px-4">

<p-table 
  class="shadow-md rounded-lg"
  [value]="contacts"
  [lazy]="true"
  (onLazyLoad)="onTableLazyLoad($event)"
  [paginator]="true"
  dataKey="_id"
  editMode="row"
  [rows]="pageSize"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [rowsPerPageOptions]="[5, 10, 20]"
  [first]="(currentPage - 1) * pageSize"
>

  <!-- Header -->
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name" class="whitespace-nowrap">
        Name
        <p-columnFilter type="text" field="name"  display="menu"></p-columnFilter>
      </th>
      <th pSortableColumn="phone" class="whitespace-nowrap">
        Phone
        <p-columnFilter field="phone"  display="menu"></p-columnFilter>
      </th>
      <th pSortableColumn="address" class="whitespace-nowrap">
        Address
        <p-columnFilter type="text" field="address"  display="menu"></p-columnFilter>
      </th>
      <th class="text-center">Actions</th>
    </tr>
  </ng-template>

  <!-- Body -->
  <ng-template pTemplate="body" let-contact let-editing="editing">
    <tr [pEditableRow]="contact">
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="contact.name" class="w-full" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ contact.name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="contact.phone" class="w-full" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ contact.phone }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="contact.address" class="w-full" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ contact.address }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <div class="flex justify-center gap-2">
          <!-- Edit Buttons -->
          <ng-container *ngIf="!editing">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              pInitEditableRow
              class="p-button-rounded p-button-text p-button-secondary"
              (click)="onEditInit(contact)"
              [disabled]="lockedContacts[contact._id] && lockedContacts[contact._id] !== userName"
              [pTooltip]="lockedContacts[contact._id] && lockedContacts[contact._id] !== userName ? 'This Contact is under editing by another user' : ''"
            ></button>
          </ng-container>
          <ng-container *ngIf="editing">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-check"
              pSaveEditableRow
              class="p-button-rounded p-button-text p-button-success"
              (click)="onEditSave(contact)"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              pCancelEditableRow
              class="p-button-rounded p-button-text p-button-secondary"
              (click)="onEditCancel(contact)"
            ></button>
          </ng-container>

          <!-- Delete Button -->
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="confirmDelete(contact._id)"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>

<p-confirmDialog></p-confirmDialog>
